@tailwind base;
@tailwind components;
@tailwind utilities;
@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");
@import "slick-carousel/slick/slick.css";
@import "slick-carousel/slick/slick-theme.css";

.button-sidebar{
    font-family: Arial, Helvetica, sans-serif;
    color: rgb(96, 107, 47);
    font-size: larger;
    margin-top: 5px;
}

.button-contact{
    color:rgb(82, 82, 82);
    font-size: xx-large;
    border-radius: 15px;
    border: none;
    background-color: transparent;
    background-repeat: no-repeat;
    cursor: pointer;
    overflow: hidden;
    outline: none;
    width: 84%;
    height: 50px;
    margin-left: 7%;
    margin-bottom: 5%;
}

.activeButton{
    border-radius: 10%;
    background-color: rgb(131,182,94);
    top: -3%;
}

.headline{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: xx-large;
    margin-top: 5px;
    text-align: center;
}

.imgSponsor {
    filter: gray;
    -webkit-filter: grayscale(1);
    -webkit-transition: all .8s ease-in-out;
    transition: all .8s ease-in-out;
    max-width: 100%;
    height: auto;
  }

.imgSponsor:hover {
  filter: none;
  -webkit-filter: grayscale(0);
  -webkit-transform: scale(1.01);
  transform: scale(1.01);
}

.sponsor-link {
  display: block;
  width: 100%;
  height: auto;
  text-align: center;
}

.parallax{
  background-image: url("/public/banner.png");

  /* Full height */
  height: 300px;

  /* Create the parallax scrolling effect */
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.HeaderService{
background-color: blueviolet;

}